<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ВСЕ МАШИНЫ</title>
</head>
<body>
<h2> ВСЕ МАШИНЫ</h2>
<br>
<table border="1">
    <tr>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Год выпуска</th>
    </tr>
    <tr th:each="car : ${carCount}">
        <td th:text="${car.getModel()}">car</td>
        <td th:text="${car.getColor()}">car</td>
        <td th:text="${car.getAge()}">car</td>
    </tr>

</table>
<br>

</body>
</html>